{
  "plugins": [
    "@babel/plugin-proposal-export-namespace-from"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "electron": "2.0.0"
        },
        "corejs": "3",
        "useBuiltIns": "entry"
      }
    ]
  ]
}
